@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');



 /**header**/
header{
    background-color:white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    height: 36px;
    width: auto;
}

.logo{
    width: 200px;
    height: 36px;
    display: flex;
    margin: 1rem;
   
    
}
    
.logo img{
        width: 36px;
        height: 36px;
}

.logo h1{
        color: black;
        font-size: 30px;
        display: flex;
        align-items: center;
     }
.mmenu i{
    display: flex;
    margin:1rem;
    font-size: 36px;
    
}     


nav{
    display: none;
}

/**hero**/

#hero{
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top:3rem;
    margin-left: 2rem;
}
.heroText{
    display: flex;
    flex-direction: column;
    margin: 0 auto;

}
.heroText h3{
    color: rgb(230, 21, 195);
        
}

.heroText h1{
    font-size: 40px;
    margin: 0;

}

.heroText p{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: grey;
}

.heroText button{
    height: 75px;
    width: 190px;
    border: solid 3px rgb(230, 21, 195);
    border-radius: 40px 40px;
    font-size: 20px;
    font-weight: bolder;   
}

.heroText button:hover{
    background-color: rgb(230, 21, 195);
    color: white;
}

.heroImg img{
    height: 280px;
    padding-top: 1rem;
    margin-left: 1rem;

}

/**upsell**/

#upsell{
    height:330px;
    width: 100%;
    background: black linear-gradient(45deg, #ff5285,#ff4c42,#fd823f, #99e6a6) ;
}

.upsellText{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    
}

.upsellText h1{
    font-size: 43px;
    padding-top: 80px;
   
    
}

.upsellText p{
    font-size: 20px;
    margin: 0;
}



@media (min-width: 768px){
    .mmenu{
        display: none;
    }
   
    .menudesktop {
        display: flex;
        padding-top: 1.2rem;
      }
      .menudesktop li {
        display: inline;
        list-style-type: none;
      }
      .menudesktop a {
        text-decoration: none;
        padding: 1rem;
        color: grey;
        font-weight: bold;
        font-size: 1rem;
        font-weight: lighter;
      }
      .menudesktop :hover {
        color: rgb(230, 21, 195);
      }
}