@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');



 /**header**/
header{
    background-color:white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    height: 36px;
    width: auto;
}

.logo{
    width: 200px;
    height: 36px;
    display: flex;
    margin: 1rem; 
}
    
.logo img{
        width: 36px;
        height: 36px;
}

.logo h1{
        color: black;
        font-size: 30px;
        display: flex;
        align-items: center;
}

.mmenu i{
    display: flex;
    margin:1rem;
    font-size: 36px; 
}     

nav{
    display: none;
}

/**hero**/

#hero{
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top:3rem;
    margin-left: 2rem;
}

.heroText{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.heroText h3{
    color: rgb(230, 21, 195);      
}

.heroText h1{
    font-size: 40px;
    margin: 0;
}

.heroText p{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: grey;
}

.heroText button{
    height: 75px;
    width: 190px;
    border: solid 3px rgb(230, 21, 195);
    border-radius: 40px 40px;
    font-size: 20px;
    font-weight: bolder;   
}

.heroText button:hover{
    background-color: rgb(230, 21, 195);
    color: white;
}

.heroImg{
    height: 300px;
    margin-top: 2rem;
    display: grid;
    grid-template: 150px 150px/ 70px 150px 70px 70px;
}

.heroImg :first-child{ 
    grid-area: 1 / 2 / 3 / 4;
    background: url(../images/pinkthing.png) no-repeat;
    background-size: cover;
    z-index: 1; 
}

.heroImg >:first-child img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin-left: 3rem;
}

.heroImg :nth-child(2){
    grid-area: 1 / 2 / 2 / 4;
    height: 160px;
    background: rgb(230, 21, 195);
    filter: blur(55px);
}

.heroImg :last-child{
    grid-area: 2 / 1 / 3 / 3;
    height: 120px;
    background: #ff8139;
    filter:blur(55px)
}

/**upsell**/

#upsell{
    height:330px;
    width: 100%;
    background: black linear-gradient(45deg, #ff5285,#ff4c42,#fd823f, #99e6a6) ;
}

.upsellText{
    display: flex;
    flex-direction: column;
    margin-left: 50px;  
}

.upsellText h1{
    font-size: 43px;
    padding-top: 80px;   
}

.upsellText p{
    font-size: 20px;
    margin: 0;
}

/*press*/

#press{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 60px;
    margin-left: 2rem;  
}

.presscontent{
    display: flex;
    justify-content: center;
    width: 140px;
}

.presscontent h1{
    color: gray;
    font-size: 25px;
    width: 70%;
    margin:20px ;
}

.presscontent img{
    height:70px;
    width: 40%;
}

#press :nth-child(3){
    display: none;
}

/*showcase*/

#showcase{
    margin-bottom: 50px;
}

.showcaseTitle{
    display: flex;
    flex-direction: column;
    padding-top: 60px;
}

.showcaseTitle h1{
    font-size: 43px;
    line-height: 48px;
    margin-left:2rem;
}

.showcaseTitle p{
    font-size: 20px;
    color: grey;
    margin-left:2rem;
}
 
.showcaseCards{
    display: flex;
    flex-direction:row;
    align-content: space-between;
    gap: 30px;
    overflow-x: scroll;
    white-space: nowrap;
}


.showcaseBox{
    position: relative;
    background-color: white;
    margin-left: 2rem;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);
    border: transparent;
    border-radius: 20px 20px 20px 20px;
    background-color: rgb(223, 221, 221);
}

.showcaseImg{
    width: 300px;
    height: 300px;
}
    
 .showcaseImg img{
        width: 100%;
        border-radius: 20px 20px 0px 0px ;      
}
   
.showcaseInfo{
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        margin-left: 0;
        padding: 0;     
}

.showcaseIn1{
    margin-left: 0.5rem;
}    
.showcaseIn1 h3{
    font-size: 12px;
    color: #fd823f;
}  

.showcaseIn1 h1{
    font-size: 20px;
}

.showcaseIn1 h4{
    font-size: 18px;
    color: gray;
}

.showcaseIn2 h3{
    font-size: 12px;
    color: grey;
}
.showcaseIn2 img{
    width: 24px;
    height: 30px;
}
.showcaseIn2 h1{
    font-size:20px;
    margin:0;
}

.showcasein2{
    display:flex;
    padding-right: 5px;  
}

.showcaseIn2 h4{
    font-size: 16px;
    color:gray; 
}

/*signUp*/


#SignUp{
    height: 650px;
    width: 100%;
    padding-top: 60px;
    display: grid;
    grid-template: 80px  80px 245px 160px/ 160px 80px 160px;
}   

hr{
    border: 1px solid rgb(199, 197, 197);
}

#SignUp :nth-child(2){
    grid-area: 2 / 2 / 5 / 4;
   
}

 #SignUp > :nth-child(2) img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin-left: 3rem;
}

.SignUpText{
    grid-area: 1 / 1 / 5 / 3;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-left: 2rem;
}

.SignUpText h3{
    color: rgb(230, 21, 195);
        
}

.SignUpText h1{
    font-size: 50px;
    margin: 0;
}

.SignUpText p{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: grey;
}

.SignUpText button{
    height: 75px;
    width: 190px;
    border: solid 3px rgb(230, 21, 195);
    border-radius: 40px 40px;
    font-size: 20px;
    font-weight: bolder;   
}

.SignUpText button:hover{
    background-color: rgb(230, 21, 195);
    color: white;
}

/*footer*/

.footerct{
    display: flex;
    flex-direction: column;  
}

.logo{
    display: flex;
    justify-content: space-between;
}

.socialmedia{
    margin-left: 2rem;   
}

.socialmedia h1{
    font-size: 20px;
    color: gray;
    font-weight: lighter;
}

.icons{
    display: flex;
    gap: 10px;
    padding-top: 10px;
}

.icons a{
    font-size: 18px;
    color:grey   
}

.footermenu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}

.menu{
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    margin-left: 2rem;
    width: 100px;
}

.menumain a{
    font-size: 20px;
    text-decoration: none;
    color: rgb(66, 65, 65);
}
.submenu{
    padding-top: 1rem;
}
.submenu p{
    font-size: 16px;
    color: gray;
    margin:0;
    line-height: 25px;
}
.footercopy{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footercopy p{
    font-size: 18px;
    color: grey;
    margin: 2rem;

}
.launch {
    display:none;
}

@media (min-width: 768px){
    .mmenu{
        display: none;
    }
   
    .menudesktop {
        display: flex;
        padding-top: 1.2rem;
    }

    .menudesktop li {
        display: inline;
        list-style-type: none;
    }

    .menudesktop a {
        text-decoration: none;
        padding: 1rem;
        color: grey;
        font-weight: bold;
        font-size: 1rem;
        font-weight: lighter;
    }
      
    .menudesktop :hover {
        color: rgb(230, 21, 195);
    }

    .heroText h1{
        font-size: 70px;
    } 
    
    #upsell{
        height: 300px;
        width: 90%;
        margin: 2rem;
        border-radius: 20px;
    }

    #press :nth-child(3){
        display:flex;
    }

    .showcaseCards{
        overflow-x: hidden;
    }

    #SignUp{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #SignUp > :nth-child(2) img{
        height: 500px;
        width: 100%;
        object-fit: contain;
    }
    
    .SignUpText{
        display: flex;
        flex-direction: column;
        align-content: space-between;
        gap: 50px;
        margin: 0 auto;
        margin-left: 2rem; 
    }

    .footercontent{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .launch{
        display: flex;
    }
}    